body {
    background-image: url(black-triangles-3d-graphics-wallpaper-236597.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Title1 {
    font-size: 60px;
    color: greenyellow;
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    color: greenyellow;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #000, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    border-style: solid;
    border-width: medium;
    background-color: greenyellow;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 3px #000;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    border-radius: 5%;
    -webkit-border-radius: 5%;
    box-shadow: 0px 0px 35px 35px #00FF00;
    -webkit-box-shadow: 0px 0px 35px 35px #00FF00;
}

#active {
    background-color: green;
    color: white;
}

#active a {
    color: white;
}

.Title2 {
    background-color: greenyellow;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    padding: 6px;
}

.logo {
    height: 190px;
    width: 190px;
}

.logo:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #00FF00;
    -webkit-box-shadow: 0px 0px 15px 15px #00FF00;
}

.content {
    margin: 20px;
    width: 72%;
    margin-bottom: 50px;
    color: white;
    font-size: x-large;
    grid-column-start: 2;
    grid-column-end: 3;
}

.email {
    color: greenyellow;
}

.Table1 td {
    width: 200px;
}

.Table2 {
    width: 75%;
}

.Tyellow {
    color: greenyellow;
}

.contact {
    display: flex;
}

.email2 {
    margin-left: auto;
}

.Rtitle {
    color: greenyellow;
    text-align: center;
}

.Rtitle2 {
    color: greenyellow;
    text-align: center;
}

.list1 {
    list-style-type: square;
}

.list2 {
    list-style-type: lower-latin;
}

.list3 {
    list-style-type: circle;
}

.maps {
    width: 450px;
    height: 450px;
}

.maps2 {
    display: flex;
    justify-content: flex-end;
}

.Form {
    width: 100%;
    margin: 5%;
}

.Form div {
    margin: 1%;
}

.form1 {
    display: flex;
    margin: 1%;
}

.form1 input {
    width: 30%;
}

.form2 {
    display: flex;
    flex-direction: column;
}

.form2 div {
    margin: 1%;
}

.form4 {
    display: flex;
}

.form5 input {
    width: 73%;
}

.send {
    display: flex;
    justify-content: flex-end;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 4;
}

.header {
    display: flex;
}

.logo2 {
    justify-content: flex-end;
    margin-left: 200px;
    margin-top: auto;
}

.maps3 div {
    margin: 20px;
}
